.data_list_container {
  width: 40vw;
  background: var(--color-glass-transparency-lighter);
  margin: 2em;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  max-height: 100vh;
  overflow-y: auto;
}
