.input_form_container {
  width: 80%;
  height: 35%;
  text-align: center;
  background: var(--color-glass-transparency-lighter);
  margin-top: 2em;
  padding: 1em;
  border-radius: 12px;
  display: flex;
  align-items: center;
  position: relative;
}

#form_title {
  font-size: 1.5em;
  position: absolute;
  right: 10%;
  top: 10%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

.formtext {
  background: var(--color-glass-transparency);
  border: none;
  height: 2em;
  width: 15vw;
  padding: 5px;
  margin: 1em 2em;
  border-radius: 8px;
}

#weight_container {
  display: flex;
  flex-direction: row;
}

.form_select {
  background: var(--color-glass-transparency);
  height: 2em;
  margin: 1em 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.form_submit {
  height: 2em;
  max-width: 8vw;
  border: none;
  padding: 5px;
  margin: 1em 2em;
  border-radius: 8px;
  cursor: pointer;
  transition: 200ms;
  background: var(--color-glass-transparency);
}

.form_submit:hover {
  background-color: var(--color-glass-transparency-dark);
}

#weight_icon_container {
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 40%;
  right: 0;
  transform: translateX(25%);
  font-size: 5em;
  z-index: -1;
}
