:root {
  --color-primary: rgb(125, 190, 255);
  --color-secondary: rgb(251, 194, 235);
  --color-tertiary: rgb(200, 200, 200);
  --color-accent: rgb(253, 255, 143);
  --color-primary-darker: rgb(90, 140, 190);
  --color-secondary-darker: rgb(167, 102, 102);
  --color-primary-lighter: rgb(188, 217, 247);
  --color-secondary-lighter: rgb(253, 223, 244);
  --color-glass-transparency: rgba(255, 255, 255, 0.5);
  --color-glass-transparency-lighter: rgba(255, 255, 255, 0.2);
  --color-glass-transparency-less: rgba(255, 255, 255, 0.75);
  --color-glass-transparency-dark: rgba(0, 0, 0, 0.1);

  --gradient-primary: linear-gradient(
    140deg,
    var(--color-secondary-lighter) 30%,
    var(--color-primary-lighter) 100%
  );

  --gradient-body: linear-gradient(
    to top,
    var(--color-secondary) 0%,
    rgb(166, 193, 238) 100%
  );
}

html body {
  font-size: 16px;
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background: var(--gradient-body);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 90vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.graph_input_container {
  display: flex;
  flex-direction: column;
  width: 65vw;
  margin: 2em 1em;
  /* background: var(--color-glass-transparency-lighter); */
  border-radius: 12px;
}
